.highlight {
    background-color: var(--highlight-color);
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
}

#toc {
    background-color: #ecf0f1;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 2rem;
}

#toc ul {
    list-style-type: none;
    padding-left: 1rem;
}

#toc a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

#toc a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s, transform 0.3s;
}

.scroll-top:hover {
    background-color: var(--secondary-color);
    transform: scale(1.1);
}